<div class="panel panel-primary">
  <div class="panel-body">
    <input class="form-control" placeholder="User Name" [(ngModel)]="userName" />
    <input class="form-control" placeholder="Password" [(ngModel)]="passWord" type="password" />
    <input class="form-control" placeholder="Email" [(ngModel)]="email" />
    <input class="form-control" placeholder="Birth Date" [(ngModel)]="birthDate" type="date" />
    <label class="form-control">
      <input type="checkbox" [(ngModel)]="isActive" />Active</label>
    <select class="form-control" [(ngModel)]="typeAcc">
      <option>Admin</option>
      <option>Employee</option>
    </select>
    <input class="form-control" placeholder="Salary" [(ngModel)]="salary" type="number">
    <button class="btn btn-success" (click)="save()">Save</button>
  </div>
</div>