<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title hidden-xs"> Role List</span>
            </div>
            <button class="btn btn-primary btn-xs pull-right">
                <i class="fa fa-plus"></i>
                <span class="hidden-xs hidden-sm">New Role</span>
            </button>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <table class="table table-condensed allcp-form theme-warning tc-checkbox-1 fs13">
                        <colgroup>
                            <col style="width:50px">
                            <col style="width:50px">
                            <col style="width:120px">
                            <col >
                            <col style="width:200px">
                        </colgroup>
                        <thead>
                            <tr class="bg-light">
                                <th class="text-center">#</th>
                                <th class="text-center">Id</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let role of roles; let idx=index">
                            <td class="text-center">{{idx}}</td>
                            <td class="text-center">{{role.Id}}</td>
                            <td class="text-center">{{role.Name}}</td>
                            <td class="text-center">{{role.Description}}</td>
                            <td class="text-center">
                                <button class="btn btn-info" (click)="detail(role)">
                                    <i class="fa fa-pencil"></i>
                                    <span class="hidden-xs hidden-sm">Edit</span>
                                </button>
                                <button class="btn btn-danger" (click)="delete(role)">
                                    <i class="fa fa-trash"></i>
                                    <span class="hidden-xs hidden-sm">Delete</span>
                                </button>
                            </td>
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>