<div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="widget-box">
          <div class="widget-header">
            <h4 class="widget-title">BOOK DETAIL</h4>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <div class="form">
                  <strong class=" text-center">
                      <h2 style="color:#906E7D">{{title}}</h2>
                      <hr>
                     </strong>
                <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group box">
                            <strong class="text-primary">CODE:</strong>
                          <input type="text" class="form-control" id="usr" [(ngModel)]="book.Code">
                        </div>
                      </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group box">
                            <strong class="text-primary">CATEGORY:</strong>                
                            <select class="form-control" [(ngModel)]="book.CategoryId">
                                <option *ngFor="let category of categories" [ngValue]="category.Id">{{category.Name}}</option>
                            </select>
                        </div>
                      </div>
                  
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group box">
                        <strong class="text-primary">BOOK NAME:</strong>
                      <input type="text" class="form-control" id="usr" [(ngModel)]="book.Name">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group box">
                        <strong class="text-primary">DESCRIPTION</strong>
                      <textarea type="text" class="form-control" id="usr" [(ngModel)]="book.Description" style="height: 100px"></textarea>
                    </div>
                  </div>
                  
                </div>
                <div class="text-left">
                    <button class="btn btn-primary" (click)="save()">
                      Save
                    </button>
                    <button class="btn btn-warning" (click)="back()">
                      Back
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>