<<<<<<< HEAD
// DARK - CODE MIRROR
// -----------------------------------------------------------------------------
html.dark .CodeMirror pre {
	background: transparent;
	border: none;
=======
// DARK - CODE MIRROR
// -----------------------------------------------------------------------------
html.dark .CodeMirror pre {
	background: transparent;
	border: none;
>>>>>>> superdev_develop
}