<div class="page-content">
    <div class="row">
<div class="col-md-12">
  <div class="widget-box">
    <div class="widget-header">
      <h4 class="widget-title">CATEGORY DETAIL</h4>
    </div>
    <div class="widget-body">
      <div class="widget-main">
          <div class="form">
              <strong class=" text-center">
                  <h2 style="color:#906E7D">{{title}}</h2>
                  <hr>
                 </strong>
          <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="form-group">
            <strong class="text-primary">NAME</strong>
            <input type="text" class="form-control" [(ngModel)]="role.Name">
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="form-group">
            <strong class="text-primary">DESCRIPTION</strong>
            <textarea class="form-control" [(ngModel)]="role.Description"></textarea>
          </div>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <button class="btn btn-primary" (click)="save()">
              Save
            </button>
            <button class="btn btn-warning" (click)="back()">
              Back
            </button>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- <div class="page-content">
  <div class="page-header">
    <h1>
      <strong>ROLE DETAIL</strong>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <strong class="text-primary">NAME</strong>
          <input type="text" class="form-control" [(ngModel)]="role.Name">
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <strong class="text-primary">DESCRIPTION</strong>
          <textarea class="form-control" [(ngModel)]="role.Description"></textarea>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div> -->