<div class="col-md-2">
  <label>Giá trị 1:</label>
  <input class="form-control" [(ngModel)]="firstNumber">
</div>
<div class="col-md-2">
  <label>Giá trị 2:</label>
  <input class="form-control" [(ngModel)]="secondNumber">
</div>
<div class="col-md-2">
  <label>Giá trị 3:</label>
  <input class="form-control" [(ngModel)]="thirdNumber">
</div>
<div class="col-md-2">
  <label>Giá trị 4:</label>
  <input class="form-control" [(ngModel)]="fourthNumber">
</div>
<div class="col-md-2">
  <label>Giá trị 5:</label>
  <input class="form-control" [(ngModel)]="fifthNumber">
</div>
<div class="col-md-2">
  <button class="btn btn-primary" style="margin-top:30px;" (click)="Sum();">Sum</button>
  <button class="btn btn-warning" style="margin-top:30px;" (click)="MaxValue();">Max</button>
</div>