<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title hidden-xs"> Products status</span>
            </div>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                        <tr class="bg-light">
                            <th class="text-center">#</th>
                            <th class="text-center">Id</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Action</th>
                           

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let role of roles; let idx = index">
                            <td>{{idx}}</td>
                            <td>{{role.Id}}</td>
                            <td>{{role.Name}}</td>
                            <td>{{role.Description}}</td>
                            <td>{{idx}}
                                <button class="btn btn-info">Edit</button>
                                <button class="btn btn-warning">Delete</button>
                            </td>     
                        
                        </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>