<div class="panel panel-info">
  <div class="panel-heading">
    <div>
      <h3>List Of User</h3>
      <div class="text-right">
        <button class="btn btn-success" (click)="newUser();"><i class="fa fa-plus"></i> Add New</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <colgroup>
        <col>
        <col>
        <col style="width: 60px;">
        <col style="width: 60px;">
      </colgroup>
      <thead>
        <tr class="bg-light">
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>FullName</th>
          <th>Description</th>
          <th>Actived</th>
          <th>Deleted</th>
          <th>Created Date</th>
          <th>Created By</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users;">
          <td class="text-center">{{user.Id}}</td>
          <td class="text-center">{{user.Username}}</td>
          <td class="text-center">{{user.Password}}</td>
          <td class="text-center">{{user.FirstName}} {{user.LastName}}</td>
          <td class="text-center">{{user.Description}}</td>
          <td class="text-center">
            <span class="label" [ngClass]="{'label-success':user.IsActived, 'label-danger':!user.IsActived}">
              {{user.IsActived?'Actived':'Blocked'}}
            </span></td>
          <td class="text-center">{{user.IsDeleted}}</td>
          <td class="text-center">{{user.CreatedDate | date:'HH:mm dd/MM/yyyy'}}</td>
          <td class="text-center">{{user.CreatedBy}}</td>
          <td class="text-center">
            <label class="text-center">
              <button (click)="detail(user);" style="width: 66.2031px;" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> EDIT</button>
              <button (click)="delete(user);" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> DELETE</button>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  var count_particles, stats, update;
  stats = new Stats;
  stats.setMode(0);
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.left = '0px';
  stats.domElement.style.top = '0px';
  document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles');
  update = function () {
    stats.begin();
    stats.end();
    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
    }
    requestAnimationFrame(update);
  };
  requestAnimationFrame(update);
</script>