<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" *ngIf="id!==0">
        <div class="header">
            <h2>
                BOOK DETAIL
            </h2>
            <button type="button" (click)="onEdit()"
                    class="btn btn-warning btn-circle waves-effect waves-circle waves-float pull-right">
                <i class="material-icons">edit</i>
            </button>
        </div>
        <div class="body">
            <div class="bs-example" data-example-id="media-alignment">
                <div class="media">
                    <div class="media-left">
                        <a href="javascript:void(0);">
                            <img class="media-object" src="http://placehold.it/64x64" width="300px" height="400px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h1 style="font-size: 25px" class="media-heading"> Name : {{book.Name || 'None'}}</h1>
                        <p style="font-size: 18px">
                            Code: {{book.Code || 'None'}}
                        </p>

                        <p style="font-size: 18px">
                            Description: {{book.Description || 'None'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="isEdit">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>EDIT CATEGORY</h2>
                    </div>
                    <div class="body">
                        <form id="form_validation" novalidate="novalidate">
                            <div class="form-group form-float">
                                <label> Name</label>
                                <div class="form-line">
                                    <input type="text"
                                           class="form-control"
                                           name="name"
                                           [(ngModel)]="book.Name">
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label> Code</label>
                                <div class="form-line">
                                    <input type="text"
                                           class="form-control"
                                           name="code"
                                           [(ngModel)]="book.Code">
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label>Category</label>
                                <div class="form-line">
                                    <select class="form-control" name="category" [(ngModel)]="book.CategoryId">
                                        <option *ngFor="let category of categories" [ngValue]="category.Id">
                                            {{category.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label>Description</label>
                                    <textarea name="Description"
                                              cols="30"
                                              rows="5"
                                              class="form-control no-resize"
                                              [(ngModel)]="book.Description"></textarea>
                                </div>
                            </div>
                            <button (click)="save()" class="btn btn-primary waves-effect" type="submit">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Basic Validation -->

    </div>

    <div class="container-fluid" *ngIf="id === 0">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>ADD BOOK</h2>
                    </div>
                    <div class="body">
                        <form id="form_validation1" novalidate="novalidate">
                            <div class="form-group form-float">
                                <label> Name</label>
                                <div class="form-line">
                                    <input type="text"
                                           class="form-control"
                                           name="name"
                                           [(ngModel)]="book.Name">
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label> Code</label>
                                <div class="form-line">
                                    <input type="text"
                                           class="form-control"
                                           name="code"
                                           [(ngModel)]="book.Code">
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label>Category</label>
                                <div class="form-line">
                                    <select class="form-control" name="category" [(ngModel)]="book.CategoryId">
                                        <option *ngFor="let category of categories" [ngValue]="category.Id">
                                            {{category.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label>Description</label>
                                    <textarea name="Description"
                                              cols="30"
                                              rows="5"
                                              class="form-control no-resize"
                                              [(ngModel)]="book.Description"></textarea>
                                </div>
                            </div>
                            <button (click)="save()" class="btn btn-primary waves-effect" type="submit">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- #END# Basic Validation -->
    </div>
</div>

<button type="button" class="btn btn-primary waves-effect" [routerLink]="['/main/user-list']">
    <i class="material-icons">keyboard_return</i>
    <span>BACK USER LIST</span>
</button>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>