<div class="row clearfix" *ngIf="id != 0">
    <div class="col-xs-12">
        <div class="card">
            <div class="header bg-light-blue">
                <h2>
                    Name : {{user?.LastName}} {{user?.FirstName}}
                </h2>
                <button type="button" (click)="onEdit()"
                        class="btn btn-warning btn-circle waves-effect waves-circle waves-float pull-right">
                    <i class="material-icons">edit</i>
                </button>
            </div>
            <div class="body">

                <div class="body">
                    <ul class="list-group">
                        <li class="list-group-item">  <strong>Username: </strong>{{user?.Username || 'None'}}</li>
                        <li class="list-group-item"> <strong>Role:</strong> {{user?.Role || 'None' }}</li>
                        <li class="list-group-item"> <strong>Description:</strong> {{user?.Description || 'None' }}</li>
                        <li class="list-group-item"> <strong>Created By:</strong> {{user?.CreatedBy || 'None' }}</li>
                        <li class="list-group-item"> <strong>Created Date:</strong> {{user?.CreatedDate | date : 'HH:mm dd/MM/yyyy' ||
                            'None' }}
                        </li>
                        <li class="list-group-item"><strong>Can Delete:</strong> {{user?.IsDeleted}}</li>
                        <li class="list-group-item"><strong>Can Active:</strong> {{user.IsActived}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="isEdit">
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>EDIT USER</h2>
                </div>
                <div class="body">
                    <form id="form_validation" novalidate="novalidate">
                        <div class="form-group form-float">
                            <label>User Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="UserName"
                                       [(ngModel)]="user.Username">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label>Password</label>
                            <div class="form-line">
                                <input type="password"
                                       class="form-control"
                                       name="Password"
                                       [(ngModel)]="user.Password">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>First Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="FirstName"
                                       [(ngModel)]="user.FirstName">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>Last Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="LastName"
                                       [(ngModel)]="user.LastName">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>Role</label>
                            <div class="form-line">
                                <select class="form-control" name="role" [(ngModel)]="user.RoleId">
                                    <option *ngFor="let role of roles" [ngValue]="role.Id">{{role.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <!--<div>-->
                        <!--<label>Active</label>-->
                        <!--<div class="form-line">-->
                        <!--<select class="form-control" [(ngModel)]="user.IsActived" name="actived">-->
                        <!--<option value="true" [attr.selected]="user.IsActived == true">true</option>-->
                        <!--<option value="false" [attr.selected]="user.IsActived == false">false</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group form-float">
                            <label>Active</label>
                            <div class="form-line">
                                <select class="form-control" [(ngModel)]="user.IsActived" name="actived">
                                    <option *ngFor="let i of [true,false]" [value]="i">{{i}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <div class="form-line">
                                <label>Description</label>
                                <textarea name="Description"
                                          cols="30"
                                          rows="5"
                                          class="form-control no-resize"
                                          [(ngModel)]="user.Description"></textarea>
                            </div>
                        </div>
                        <button (click)="save()" class="btn btn-primary waves-effect" type="submit">SAVE</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- #END# Basic Validation -->

</div>

<div class="container-fluid" *ngIf="id == 0">
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>ADD USER</h2>
                </div>
                <div class="body">
                    <form id="form_validation_edit" novalidate="novalidate">
                        <div class="form-group form-float">
                            <label>User Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="UserName"
                                       [(ngModel)]="user.Username">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label>Password</label>
                            <div class="form-line">
                                <input type="password"
                                       class="form-control"
                                       name="Password"
                                       [(ngModel)]="user.Password">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>First Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="FirstName"
                                       [(ngModel)]="user.FirstName">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>Last Name</label>
                            <div class="form-line">
                                <input type="text"
                                       class="form-control"
                                       name="LastName"
                                       [(ngModel)]="user.LastName">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label>Role</label>
                            <div class="form-line">
                                <select class="form-control" name="role" [(ngModel)]="user.RoleId">
                                    <option *ngFor="let role of roles" [ngValue]="role.Id">{{role.Name}}</option>
                                </select>
                            </div>
                        </div>

                        <div>
                            <label>Active</label>
                            <div class="form-line">
                                <select class="form-control" [(ngModel)]="user.IsActived" name="actived">
                                    <option *ngFor="let i of [true,false]" [ngValue]="i">{{i}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group form-float">
                            <div class="form-line">
                                <label>Description</label>
                                <textarea name="Description"
                                          cols="30"
                                          rows="5"
                                          class="form-control no-resize"
                                          [(ngModel)]="user.Description"></textarea>
                            </div>
                        </div>
                        <button (click)="save()" class="btn btn-primary waves-effect" type="submit">SAVE</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- #END# Basic Validation -->
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>