<div class="row">
    <div class="col-xs-12">
    
            
            <!-- /.box-header -->
            <div class="col-md-4 col-md-offset-4">
                <label>Name</label>
                <input [(ngModel)] = "role.Name" class="form-control">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <label>Description</label>
                <input [(ngModel)] = "role.Description" class="form-control">
            </div>
            <div class="col-md-4 col-md-offset-4">
                
                <button class="btn btn-primary" (click)="save()">Save</button>
                <a [routerLink]="['/main/role']">Back</a>
                
            </div>
            <!-- /.box-body -->
 
        <!-- /.box -->
    </div>
</div>