<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Responsive Hover Table</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let role of roles; let idx = index">
                            <td>{{idx}}</td>
                            <td>{{role.Id}}</td>
                            <td>{{role.Name}}</td>
                            <td>{{role.Description}}</td>
                            <td class="text-center">
                                <button class="btn btn-info btn-xs" (click)="detail(role)">
                                    <i class="fa fa-pencil"></i>
                                    <span>Edit</span>
                                </button>
                                <button class="btn btn-warning  btn-xs" (click)="delete(role)">
                                    <i class="fa fa-trash-o"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>