<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
               <strong> ROLE LIST </strong>
            </h2>
            <button (click)="create()" type="button"
                    class="btn bg-lime btn-circle waves-effect waves-circle waves-float pull-right">
                <i class="material-icons">add</i>
            </button>
        </div>
        <div class="body table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr class="danger">
                    <th width="20px">RANK</th>
                    <th width="200px">NAME</th>
                    <th>DESCRIPTION</th>
                    <th width="250px">OPERATION</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let role of roles; let  i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{role?.Name || 'None'}}</td>
                    <td>{{role?.Description || 'None'}}</td>
                    <td>
                        <button type="button" class="btn btn-info waves-effect"
                                [routerLink]="['/main/role', role.Id]">
                            <i class="material-icons">details</i>
                            <span>DETAIL</span>
                        </button>
                        <button type="button" class="btn btn-danger waves-effect" (click)="deleteRole(role.Id)">
                            <i class="material-icons">delete</i>
                            <span>DELETE</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
