<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Customer ID: {{order.Id}}</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body" style="display: block;">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Customer</label>
          <select class="form-control">
            <option *ngFor="let customer of customers" [ngValue]="customer.Id">{{customer.Name}}</option>
          </select>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
          <label>Product</label>
          <select class="form-control" [(ngModel)]="order.ProductId">
            <option *ngFor="let product of products" [ngValue]="product.Id">{{product.Name}}</option>
          </select>
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="text" [(ngModel)]="order.Quantity" class="form-control">
          </div>
          <div class="form-group">
              <label>Price</label>
              <input type="text" [(ngModel)]="order.Price" class="form-control">
            </div>
        <!-- /.form-group -->
      </div>
      <!-- /.col -->
      <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
          <label>Date</label>
          <input type="date" [(ngModel)]="order.Date" class="form-control">
        </div>
        <div class="form-group">
          <label>Delivery Date</label>
          <input type="date" [(ngModel)]="order.DeliveryDate" class="form-control">
        </div>
        <div class="form-group">
          <label>Is Payed? <input type="checkbox" [(ngModel)]="order.IsPayed"></label>
               
        </div>
        <div class="form-group">
          <label>Order Description</label>
          <input type="text" [(ngModel)]="order.Description" class="form-control">
        </div>
        <!-- /.form-group -->
      </div>
      <!-- /.col -->
    </div>
    <div>
      <button class="btn btn-info btn-md" (click)="save(order)">
        <i class="fa fa-pencil"></i>
        <span>Save</span>
      </button>
      <button class="btn btn-warning  btn-md pull-right" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
        <span>Back</span>
      </button>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.box-body -->
</div>