<div class="row">
    <div class="col-xs-12">
    
            
            <!-- /.box-header -->
            <div class="col-md-4 col-md-offset-4">
                <label>Role ID</label>
                <input [(ngModel)] = "user.RoleId" class="form-control">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <label>Username</label>
                <input [(ngModel)] = "user.Username" class="form-control">
            </div>
            <div class="col-md-4 col-md-offset-4">
                <label>Password</label>
                <input [(ngModel)] = "user.Password" class="form-control">
            </div>
            <div class="col-md-4 col-md-offset-4">
                
                <button class="btn btn-primary" (click)="save()">Save</button>
                <a [routerLink]="['/main/role']">Back</a>
                
            </div>
            <!-- /.box-body -->
 
        <!-- /.box -->
    </div>
</div>